.container {
  display: flex;
  padding-left: 1rem;
}

.headingMd {
  margin-bottom: 0;
}

.durationText {
  color: #666;
  font-size: 0.9rem;
}

.duration {
  flex: 0.8;
}

.duration h4 {
  margin-top: 0;
  font-size: 1.1rem;
}

.description {
  flex: 1.2;
  margin-bottom: 1.3rem;
}

.description h3 {
  margin-top: 0;
}


