html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

#main {
  min-height: 100vh;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  font-size: 16px;
  text-rendering: optimizeSpeed;
  background-color: #fff;
  color: #000;
  border: 1px solid white; /* Weird hack: without this, a 48px margin appears on the top of the page */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

/* Dark Mode */

#main.dark-mode {
  background-color: #1a1a1a;
  color: #d9d9d9;
  border: 1px solid #1a1a1a;
}

/* Any element with the class "light--hidden" will be hidden when the site is set to Light Mode */
#main.light-mode .light--hidden {
  display: none;
}

/* Any element with the class "dark--hidden" will be hidden when the site is set to Dark Mode */
#main.dark-mode .dark--hidden {
  display: none;
}
