.container {
  display: flex;
  padding-left: 1rem;
}

.headingMd {
  margin-bottom: 0;
}

.title {
  flex: 0.8;
}

.title h4 {
  margin-top: 0;
  font-size: 1.1rem;
}

.description {
  flex: 1.2;
  margin-bottom: 1.3rem;
}

