.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  height: 2.25rem;
}

.navbarLeft {
  align-items: center;
  display: flex;
}

.navbarRight {
  align-items: center;
  display: flex;
}

@media print {
  .navbar {
    display: none;
  }
}
