.btn > button {
  background: none;
  border: none;
  cursor: pointer;
  height: 2.8em;
  line-height: 1;
  width: 2.8em;
  font-size: 0.8rem;
  margin: 0 0.5rem;
}

.btn > button > svg {
  fill: transparent;
  stroke: #c7c7c7;
  transition: stroke 0.2s, fill 0.2s;
  width: 100%;
  height: 100%;
}
